* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: bisque;
    font-family: 'Poor Story', cursive;
    width: 100%;

}

.title{
    padding: 20px;
    text-align: center;
    color: brown;
}

.content{
    display: flex;
    flex-direction: row;
}

/*FOOTER*/

.footer{
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
}

.icons{
    margin: 1rem;
}